.relation{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 50px;
	align-items: center;
	flex-wrap: wrap;
}
.gallery-2 {
		margin: 25px 25px 0 25px;
	   display: flex;
		justify-content: center;
}
.gallery{
	margin: 25px;
	/* float: left; */
	border: 1px solid #ccc;
	width: 250px;
	height: auto;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.19);
	cursor: pointer;
}
.gallery-content{
	padding: 15px;
	text-align: center;
	margin-bottom: 25px;
}
.sub{
	padding: 12px;
	border: 1px solid #ccc;
}
.sub span{
	float: right;
}
.gallery:hover{
	border: 1px solid #555;
	transform: translateY(-9px);
	transition: all 0.5s ease-in-out;
}